
Bienvenid@ #USUARIO# a esta nueva experiencia en la empresa Caronte S.A 

En estos momentos #USUARIO# tendrás 50 compañeros/as que tendrán la amabilidad de 
acompañarte en este nueva aventura

Queremos decurte #USUARIO# que, desde el equipo de Dirección, nos tienes para lo que 
necesites

Un saludo en esta nueva aventura